#redhelper-logo {
  margin-bottom: 30px;
  height: 60px;
  width: 197px;
  background: url(redhelper-logo.png) no-repeat;
}

#redhelper-download-windows {
  display: inline-block;
  width: 210px;
  height: 48px;
  background: url(buttons.png) no-repeat 0 0;
}
#redhelper-download-macos {
  display: inline-block;
  width: 210px;
  height: 48px;
  background: url(buttons.png) no-repeat -237px 0;
  margin-left: 30px;
}

#redhelper-account {
  display: inline-block;
  padding: 0 30px;
  line-height: 50px;
  border: 1px solid #7a7a7a;
  border-radius: 10px;
  background: #bfbfbf;
  color: white;
}

p.comment {
  color: #808080;
  font-style: italic;
}